html, body{
  margin: 0;
  background-color: rgba(0,0,0,.9);
  margin: 100px;
}

#container{
  padding: 0 500px;
}

canvas{
  margin: auto;
  zoom: .49;
}

#scoreboard{
  font-family: Monospace;
  color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.2);
  font-size: 1.5em;
  padding: 20px 20px 0px;
}

#scoreboard ul{
  margin: 0;
  padding: 0;
}

#scoreboard li{
  list-style-type: none;
  display: inline-block;
  width: 50%;
}

#scoreboard .name{
  opacity: .5;
}
