html, body{
  background-color: black;
  margin: 0;
  font-family: Helvetica;
  color: white;
}

body{
  width: 3000px;
  height: 3000px;
}


#bizarrio{
  margin: auto;
  margin-top: 500px;
  width: 1160px;
  height: 880px;
  position: relative;
}

canvas{
  margin: auto;
}


#screens{
  position: absolute;
  width: 100%;
  height: 100%;
}
#screens .screen{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#screens .screen:first-child{
  display: block;
}
#player-select{
  display: none;
  margin-top: 250px;
  margin-left: 170px;
}
#player-select .player-selection{
  font-size: 150%;
  display: inline-block;kk
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 60px;
  background-size: contain;
}
#player-select .players-1{
  background-image: url('/assets/player-select-p1.png');
}
#player-select .players-1.selected{
  background-image: url('/assets/player-select-p1-selected.png');
}
#player-select .players-2{
  background-image: url('/assets/player-select-p2.png');
}
#player-select .players-2.selected{
  background-image: url('/assets/player-select-p2-selected.png');
}
#player-select .players-3{
  background-image: url('/assets/player-select-p3.png');
}
#player-select .players-3.selected{
  background-image: url('/assets/player-select-p3-selected.png');
}
#player-select .players-4{
  background-image: url('/assets/player-select-p4.png');
}
#player-select .players-4.selected{
  background-image: url('/assets/player-select-p4-selected.png');
}
#player-select .player-selection{
  transition: .1s linear all;
  height: 50px;
  width: 40%;
  background-repeat: no-repeat;
}
#player-select .player-selection.fade{
  opacity: 0;
}
#tutorial .step{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
#tutorial .step:nth-child(1){
  background-image: url('/assets/tutorial-step-1.png');
}
#tutorial .step:nth-child(2){
  background-image: url('/assets/tutorial-step-2.png');
}
#tutorial .step:nth-child(3){
  background-image: url('/assets/tutorial-step-3.png');
}
#tutorial .step:nth-child(4){
  background-image: url('/assets/tutorial-step-4.png');
}
#finished .winner.player-0{
  background-image: url('/assets/victory-player-1.png');
}
#finished .winner.player-1{
  background-image: url('/assets/victory-player-2.png');
}
#finished .winner.player-2{
  background-image: url('/assets/victory-player-3.png');
}
#finished .winner.player-3{
  background-image: url('/assets/victory-player-4.png');
}
#finished .winner{
  transition: .5s linear all;
  opacity: 0;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  height: 100%;
}
#finished .winner.show{
  opacity: 1;
}


#scoreboard{
  display: none;
  font-family: Monospace;
  color: white;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  font-size: 1.5em;
}
#scoreboard #time-remaining{
  width: 20%;
  left: 40%;
  position: absolute;
  text-align: center;
}
#scoreboard #time-remaining h2{
  margin: 7px 0 0 0;
}
#scoreboard ul{
  margin: 0;
  padding: 0;
}
#scoreboard li{
  position: absolute;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 25%;
  font-size: 140%;
  top: 30%;
  left: 10%;
}
#scoreboard li span.name{
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
}
#scoreboard li:nth-child(1){
  left: 10%;
}
#scoreboard li:nth-child(1) span.name{
  background-image: url('/assets/scoreboard-player-1.png');
}
#scoreboard li:nth-child(2){
  left: 23%;
}
#scoreboard li:nth-child(2) span.name{
  background-image: url('/assets/scoreboard-player-2.png');
}
#scoreboard li:nth-child(3){
  left: 58%;
}
#scoreboard li:nth-child(3) span.name{
  background-image: url('/assets/scoreboard-player-3.png');
}
#scoreboard li:nth-child(4){
  left: 70%;
}
#scoreboard li:nth-child(4) span.name{
  background-image: url('/assets/scoreboard-player-4.png');
}
#scoreboard .score{
  position: relative;
  top: -4px;
  padding-left: 10px;
}
