html, body{
  background-color: black;
  margin: 0;
  font-family: Helvetica;
  color: white;
}

body{
  width: 3000px;
  height: 3000px;
}


#bizarrio{
  margin: auto;
  margin-top: 500px;
  width: 1160px;
  height: 880px;
  position: relative;
}

canvas{
  margin: auto;
}


#screens{
  position: absolute;
  width: 100%;
  height: 100%;
}
#screens .screen{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#screens .screen:first-child{
  display: block;
}
#player-select{
  display: none;
}
#player-select .player-selection{
  font-size: 150%;
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 60px;
}
#player-select .player-selection{
  transition: .1s linear all;
  opacity: .4;
}
#player-select .player-selection.selected{
  opacity: 1;
  background: url('/assets/caret.png') no-repeat 25% 0;
  background-size: contain;
}
#player-select .player-selection.fade{
  opacity: 0;
}
#tutorial .step{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#tutorial .step h2{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 410px;
}
#finished{
  transition: .5s linear all;
  opacity: 0;
}
#finished.show{
  opacity: 1;
}
#finished h2{
  margin-top: 440px;
  text-align : center;
}


#scoreboard{
  display: none;
  font-family: Monospace;
  color: white;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  font-size: 1.5em;
}
#scoreboard #time-remaining{
  width: 20%;
  left: 40%;
  position: absolute;
  text-align: center;
}
#scoreboard #time-remaining h2{
  margin: 7px 0 0 0;
}
#scoreboard ul{
  margin: 0;
  padding: 0;
}
#scoreboard li{
  position: absolute;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 25%;
  font-size: 80%;
}
#scoreboard li:nth-child(1){
  left: 10%;
  top: 10%;
}
#scoreboard li:nth-child(2){
  left: 10%;
  top: 53%;
}
#scoreboard li:nth-child(3){
  left: 70%;
  top: 10%;
}
#scoreboard li:nth-child(4){
  left: 70%;
  top: 53%;
}
#scoreboard .name{
  opacity: .5;
}
#scoreboard .score{
  padding-left: 10px;
}
